.login {
    background: url('../../assets/background/home.jpg');
    background-size: cover;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__message {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            font-weight: 500;
            margin-bottom: 1rem;
        }

        h3 {
            background: $color-navy-200;
            border-radius: 20rem;
            padding: 0.4rem 2rem;
            width: max-content;
            color: $color-white;
            text-transform: capitalize;
        }
    }

    &__container {
        border-radius: 0.2rem;
        z-index: 20;
        box-shadow: none;
        border: 0.1rem solid $color-gray-100 !important;
        width: 28vw;

        &--head {
            margin-bottom: 3rem;
            text-align: center;

            h1 {
                margin-bottom: 0.5rem;
            }
        }
    }
}
