.form {
	&__container {
		// padding: 2rem;
		height: 100vh;
		background: $color-white-light;
		border-left: 0.1rem solid $color-gray-200;
		
		h1 {
			color: $color-navy-50;
			padding: 2rem;
			height: 7rem;
			border-bottom: 0.1rem solid $color-gray-200;
		}

		& > div {
			height: calc(100vh - 7rem);
			padding: 5rem 3rem;

			& > input {
				margin-bottom: 3rem;
				padding: 1rem;
			}
		}

		&--btn {
			display: flex;
			justify-content: space-between;
			margin-top: 1rem;

			& > div {
				color: $color-white-light !important;
				flex: 0.48;
			}
		}
	}

}