.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;

    height: 6.6rem;
    border: 0.1rem solid $color-gray-100;

    &__title {
        display: flex;
        align-items: center;

        h2 {
            margin-left: 1rem;
            font-weight: 600;
        }
    }

    &__avatar {
        right: 1%;
        flex: 0.03;
    }
}
