.input{
	border: 0.1rem solid $color-gray;
	font-family: 'Poppins', 'sans-serif';
	border-radius: 0.4rem;
	padding: 0.8rem 1rem;
	background-color: $color-white;
	transition: all 0.2s ease-in-out;
	border-color: $color-navy-100; 

	width: 100%;

	&:focus{ 
		outline: none;
        // box-shadow: 0.2rem 0.2rem $color-gray-200;
	}

	&--error{border-color: $color-red;}
	&--warning{border-color: $color-yellow;}
	&--success{border-color: $color-green;}
}