.sidebar {
    background: $color-navy-200;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__head {
        flex: 0.02;
        padding: 1.5rem 3rem;
        border-bottom: 0.1rem solid $color-navy-100;

        h1 {
            color: $color-blue;
            font-weight: 600;
        }
    }

    &__container {
        flex: 0.98;
        display: flex;
        flex-direction: column;

        li {
            border-bottom: 0.1rem solid $color-navy-100;
        }

        &--link {
            text-decoration: none;

            &:visited {
                text-decoration: none;
            }
        }

        &--active {
            border-left: 0.2rem solid $color-blue;
            background: $color-navy-50;
        }

        div {
            cursor: pointer;
            color: $color-white;
            transition: all 0.2s ease-in-out;

            & > div {
                height: 1rem !important;
                width: 1rem !important;
            }

            h1 {
                padding: 0.6rem 2rem;
                font-weight: 400;
                text-align: left;
            }

            &:last-child {
                margin-top: auto;
            }

            &:hover {
                background: $color-navy-50;
            }
        }

        &--logout {
            margin-top: auto;
        }
    }
}
