/*	COLORS	*/

$color-gray: #e0e0e0;
$color-grey: #b9b7b8;
$color-black: #050505;
$color-black-light: #202020;
// $color-black: #18162e;
// $color-black-light: #252054;

$color-primary: #1b3a57;
$color-red: #ff004e;
$color-red-dark: #e53935;
$color-green: #56fe99;
$color-green-dark: #0F9D58;
$color-yellow: #ff8f00;
$color-purple: #a0f;
$color-purple-dark: #673ab7;
$color-blue: #039be5;
$color-blue-dark: #4285F4;
$color-orange: #e65100;

$color-navy-50: #1b3a57;
$color-navy-100: #0E2F3C;
$color-navy-200: #031525;

$color-white: #fefefe;
$color-white-light: #f4f4f4;
$color-white-100: #FaFaFa;
$color-white-200: #F5F5F5;

$color-gray-100: #e0e0e0;
$color-gray-200: #b9b7b8;	
$color-gray-300: #8e8e8e;
$color-gray-400: #636363;
$color-gray-500: #3b3b3b;

/*	FONT SIZES	*/
$text-default-size: 1.6rem;

/*	GRID	*/
$grid-width: 114rem;
$gutter-ver: 4rem;
$gutter-ver-med: 2rem;
$gutter-hor: 6rem;
$gutter-hor-med: 4rem;

/*height */
$gv-height: 100vh;
$gw-height: 100vw;

:export {
	color-purple: $color-purple-dark;
	color-red: $color-red-dark;
	color-green: $color-green-dark;
	color-yellow: $color-yellow;
	color-orange: $color-orange;
}